{
  "openapi": "3.0.1",
  "info": {
    "title": "Volubile API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.eu.volubile.ai",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "List contacts",
        "operationId": "list",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by tag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create a contact",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/{id}/call": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Call a contact",
        "operationId": "call",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID of the contact",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/import": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Import a batch of contacts",
        "operationId": "importBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportContactsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/campaigns": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/calls": {
      "get": {
        "tags": [
          "Call"
        ],
        "summary": "List calls",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "agentId",
            "in": "query",
            "description": "Filter by agent id",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by agent id",
              "format": "uuid"
            }
          },
          {
            "name": "campaignName",
            "in": "query",
            "description": "Filter by campaign name",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by campaign name"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by date, inclusive lower bound. Requires 'to' to not be null. Format: YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by date, inclusive lower bound. Requires 'to' to not be null. Format: YYYY-MM-DD",
              "example": "2024-08-01"
            },
            "example": "2024-08-01"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter by date, inclusive upper bound. Requires 'from' to not be null. Format: YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by date, inclusive upper bound. Requires 'from' to not be null. Format: YYYY-MM-DD",
              "example": "2024-08-31"
            },
            "example": "2024-08-31"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Call"
        ],
        "summary": "Create a call",
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get contact",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID of the contact",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Contact"
        ],
        "summary": "Update a contact",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID of the contact",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/calls/{id}": {
      "get": {
        "tags": [
          "Call"
        ],
        "summary": "Get a call",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID of the call",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "Date and time when the error occurs at UTC time in format 'yyyy-MM-dd'T'HH:mm:ss.SSS'Z''",
            "format": "date-time"
          },
          "status": {
            "type": "integer",
            "description": "Http status code",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "Information about the error"
          },
          "errors": {
            "type": "array",
            "description": "List of specific validation errors",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Field in error"
          },
          "rejectedValue": {
            "type": "object",
            "description": "Value in error"
          },
          "message": {
            "type": "string",
            "description": "Description of the failed validation"
          }
        },
        "description": "List of specific validation errors"
      },
      "CreateContactRequest": {
        "required": [
          "phone"
        ],
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of the contact",
            "format": "uuid"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the contact, in the E.164 international standard format",
            "example": "+33612345678"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the contact"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the contact"
          },
          "email": {
            "type": "string",
            "description": "Email of the contact"
          }
        }
      },
      "ContactCreateCallRequest": {
        "required": [
          "agentId"
        ],
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "description": "ID of the OUTBOUND agent to use for the call",
            "format": "uuid"
          }
        }
      },
      "ImportContactsRequest": {
        "required": [
          "tag"
        ],
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "contacts": {
            "type": "array",
            "description": "List of contacts, minimum 1, maximum 1000",
            "items": {
              "$ref": "#/components/schemas/CreateContactRequest"
            }
          }
        }
      },
      "CreateCampaignRequest": {
        "required": [
          "agentId",
          "days",
          "name",
          "startTime",
          "timeSlots"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the campaign"
          },
          "agentId": {
            "type": "string",
            "description": "Unique identifier of the agent to perform the campaign with",
            "format": "uuid"
          },
          "startTime": {
            "type": "string",
            "description": "Start date of the campaign",
            "format": "date-time"
          },
          "timeSlots": {
            "type": "array",
            "description": "Timeslots of the campaign (when the calls will be performed during the day). Maximum 2 timeslots",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "batchSize": {
            "maximum": 1000,
            "minimum": 1,
            "type": "integer",
            "description": "The number of calls per day, minimum 1, maximum 1000",
            "format": "int32"
          },
          "retry": {
            "$ref": "#/components/schemas/Retry"
          },
          "contactImportTag": {
            "type": "string",
            "description": "Tag name for the contacts import"
          },
          "days": {
            "type": "array",
            "description": "Days of the campaign",
            "items": {
              "type": "string",
              "description": "Days of the campaign",
              "enum": [
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ]
            }
          }
        }
      },
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Start of the time slot, pattern = \"HH:mm\"",
        "example": "12:30"
      },
      "Retry": {
        "type": "object",
        "properties": {
          "max": {
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "description": "Maximum number of retries to reach the contact, minimum 0 (no retries), maximum 3",
            "format": "int32"
          },
          "delay": {
            "type": "integer",
            "description": "Minimum delay between retry attempts (in hours), minimum 1 (only considered when 'max' is greater than zero)",
            "format": "int32"
          },
          "retryOn": {
            "type": "array",
            "description": "Condition to trigger a retry (call status and qualifiers), must not be empty (only considered when 'max' is greater than zero)",
            "items": {
              "type": "string",
              "description": "Condition to trigger a retry (call status and qualifiers), must not be empty (only considered when 'max' is greater than zero)"
            }
          }
        },
        "description": "Retry parameters when the contact cannot be reached"
      },
      "TimeSlot": {
        "required": [
          "endTime",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "startTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/LocalTime"
          }
        }
      },
      "CampaignResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the campaign",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Name of the campaign"
          },
          "agentId": {
            "type": "string",
            "description": "Unique identifier of the agent to perform the campaign with",
            "format": "uuid"
          },
          "startTime": {
            "type": "string",
            "description": "Start date of the campaign",
            "format": "date-time"
          },
          "timeSlots": {
            "type": "array",
            "description": "Timeslots of the campaign (when the calls will be performed during the day). Max 2 timeslots",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "batchSize": {
            "type": "integer",
            "description": "The number of calls per...",
            "format": "int32"
          },
          "retry": {
            "$ref": "#/components/schemas/Retry"
          },
          "days": {
            "type": "array",
            "description": "Days of the campaign",
            "items": {
              "type": "string",
              "description": "Days of the campaign",
              "enum": [
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ]
            }
          }
        }
      },
      "CreateCallRequest": {
        "required": [
          "agentId",
          "phone"
        ],
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number to call, in the E.164 international standard format",
            "example": "+33612345678"
          },
          "agentId": {
            "type": "string",
            "description": "ID of the agent to use for the call",
            "format": "uuid"
          }
        }
      },
      "UpdateContactRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "PageResponseContactResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of items in the current page",
            "items": {
              "$ref": "#/components/schemas/ContactResponse"
            }
          },
          "size": {
            "type": "integer",
            "description": "The size of the page",
            "format": "int32"
          },
          "number": {
            "type": "integer",
            "description": "The number of elements of the page",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "description": "The total amount of elements",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "description": "The number of total pages",
            "format": "int32"
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of the call",
            "format": "uuid"
          },
          "agentId": {
            "type": "string",
            "description": "UUID of the agent",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "description": "UUID of the contact",
            "format": "uuid"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the other party, in the E.164 international standard format",
            "example": "+33612345678"
          },
          "type": {
            "type": "string",
            "description": "Type of the call",
            "enum": [
              "INBOUND",
              "OUTBOUND"
            ]
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the call in seconds",
            "format": "int64",
            "example": 360
          },
          "startTime": {
            "type": "string",
            "description": "Start time of the call",
            "format": "date-time",
            "example": "2024-07-30T14:35:00Z"
          },
          "endTime": {
            "type": "string",
            "description": "End time of the call",
            "format": "date-time",
            "example": "2024-07-30T14:41:00Z"
          },
          "status": {
            "type": "string",
            "description": "Status of the call",
            "enum": [
              "IN_PROGRESS",
              "CANCELED",
              "COMPLETED",
              "NO_ANSWER",
              "VOICE_BOX",
              "UNREACHABLE",
              "FAILED",
              "TRANSFERRED"
            ]
          },
          "extractors": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "Result of the extractors",
              "example": {
                "customer": {
                  "firstname": "firstname",
                  "lastname": "lastname",
                  "address": "address"
                },
                "example": "example"
              }
            },
            "description": "Result of the extractors",
            "example": {
              "customer": {
                "firstname": "firstname",
                "lastname": "lastname",
                "address": "address"
              },
              "example": "example"
            }
          },
          "classifiers": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "Result of the classifiers",
              "example": {
                "Customer's request": "Refund"
              }
            },
            "description": "Result of the classifiers",
            "example": {
              "Customer's request": "Refund"
            }
          },
          "summary": {
            "type": "string",
            "description": "Summary of what happened during the call",
            "example": "Discussed project requirements and next steps."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the call record was created",
            "format": "date-time",
            "example": "2024-07-30T14:45:00Z"
          }
        }
      },
      "PageResponseCallResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of items in the current page",
            "items": {
              "$ref": "#/components/schemas/CallResponse"
            }
          },
          "size": {
            "type": "integer",
            "description": "The size of the page",
            "format": "int32"
          },
          "number": {
            "type": "integer",
            "description": "The number of elements of the page",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "description": "The total amount of elements",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "description": "The number of total pages",
            "format": "int32"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "description": "Your API key.",
        "name": "X-Api-Key",
        "in": "header"
      }
    }
  }
}